<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  {{!-- login panel --}}
  <div class="login">
    <form action="/" class="login-panel">
      <h1 class="login-title">登入</h1>
      <input type="text" placeholder="帳號">
      <input type="password" placeholder="密碼">
      <button type="submit">登入</button>
      <button type="submit">註冊</button>
    </form>
  </div>