<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-regular fa-address-card fa-xl"></i> {{username}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li id="logout-btn"><a class="dropdown-item" href="#">登出<i class="fa-solid fa-right-from-bracket"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurantlist">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- no result --}}
<div class="container mt-5 no-result">
<h1>找不到符合搜尋字詞'{{keyword}}'的結果</h1>
<div  class="suggestion">
<p class="mt-4">建議：</p>
<ul>
  <li>請檢查有無錯別字。</li>
  <li>試試以其他關鍵字搜尋。</li>
  <li>試試以較籠統的關鍵字搜尋。</li>
</ul>
</div>
</div>