<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  {{!-- register panel --}}
  <div class="register">
    <form action="/register" id="register-panel">
      <h1 class="register-title">註冊</h1>
      <input type="text" id="username" placeholder="帳號">
      <input type="password" id="password" placeholder="密碼">
      <button type="submit" id="register-btn">註冊</button>
      <div class="login-btn-contain">
        <a href="/login" class="login-btn">登入<i class="fa-solid fa-right-to-bracket"></i></a>
      </div>
    </form>
  </div>